.search-field-select {
    &__field-select-title {
        text-transform: uppercase;
        font-size: 14px;
    }

	&__button {
		padding: 5px 20px;
		font-size: 14px;
		text-transform: uppercase;
		background-color: rgb(173, 173, 173);
		border: none;
		color: white;
		text-decoration: none;
		margin-left: 15px;
		transition: all 0.5;
		cursor: pointer;

		&--active {
			background-color: rgb(160, 0, 0);
		}
	}
}