.button {
    padding: 5px 20px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgb(226, 226, 226);
    border: none;
    color: rgb(148, 0, 0);
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
}